# Rust関連（キャッシュ・ビルド成果物）
/target
**/pkg

# Node.js関連（node_modules、キャッシュ、ログなど）
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# フロントエンド（Viteなど）のキャッシュ・ビルド成果物
dist
.cache

# その他（エディタの設定ファイルなど）
.vscode
.idea
.DS_Store 